body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #55778d;
    --secondary-color: #1f394b;
    --disabled-color: #cf0000;
    /* --background-color: #2222228f; */
    --background-color: #222222;
    --text-color: #fff;
    --text-secondary-color: black;
    --menu-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    --menu-background-color: #1a1c1f; 
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

#fuseBoxContainer {
    display: none;
    position: relative;
    width: 50vw; /* Adjust if needed */
    max-width: 600px; /* Adjust if needed */
    height: auto;
}

#fuseBox {
    width: 100%;
    height: auto;
}

.switch {
    position: absolute;
    width: 9%;   
    height: 11%; 
    cursor: pointer;
}

.switch.off {
    background-image: url('image/fuse_off.png');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
}

.light {
    position: absolute;
    width: 8.9%;  
    height: 1.8%;
}

.light.red {
    background-color: red; 
}

.switch, .light {
    transition: background-color 0.3s ease; 
}


#numbers {
    display: flex;
    position: absolute;
    top: 32%; 
    left: 58%;
    transform: translate(-50%, -50%); 
    width: 30%; 
    
}

.number-container {
    width: 16.66%; 
    height: 6vh;
    overflow: hidden;
    position: relative;
}

.number {
    position: relative;
    height: 12vh; 
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.current, .next {
    position: absolute;
    width: 100%;
    height: 6vh; 
    line-height: 6vh; 
    text-align: center;
}

.next {
    top: 100%; 
}

#clipboardWrapper {
    position: absolute;
    top: 25%; 
    left: 0%;
    display: none;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

#clipboardImage {
    width: 35%; 
    height: auto;
}

#clipboardText {
    position: absolute;
    top: 25%; 
    left: 43%; 
    color: black;
    width: 15%; 
}


.checkbox-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-bottom: 1%; 
}

.checkbox-container p {
    margin: 0;
    font-family: 'Kalam', cursive;
    white-space: nowrap; 
    font-size: 1.5em; 
}




.checkbox-container input[type="checkbox"] {
    position: relative;
    width: 25px; 
    height: 25px; 
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border: 2px solid black; 
}



.checkbox-container input[type="checkbox"]:checked {
    background: white;
    border: 2px solid black; 
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    width: 6px; 
    height: 12px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    animation: drawCheckmark 0.5s forwards; 
}

#closeClipboard {
    position: absolute;
    top: 75%; 
    right: 46.5%;
    padding: 1% 2%; 
    background-color: transparent; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
    font-size: 100%; 
    font-family: 'Kalam', cursive;
    background-image: none; 
    background-size: 50%; 
    background-position: center;
}


#closeClipboard:hover {
    background-image: url('image/circle.png');
    background-size: 140%;
}

@keyframes drawCheckmark {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
        border-color: transparent;
    }
    50% {
        transform: scale(1.1) rotate(45deg); 
        opacity: 1;
        border-color: black;
    }
    100% {
        transform: scale(1) rotate(45deg);
        border-color: black;
    }
}

h1 {
    font-size: 2.5rem; 
    color: var(--primary-color); 
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    padding-top: 1rem; 
    position: relative; 
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); 
}


.exp-required {
    display: none; 
    font-size: 0.8rem; 
    color: var(--text-color);
    margin-top: 0.5rem; 
    font-weight: normal;
    text-align: center; 
    width: 100%; 
}


.progress {
    background-color: var(--secondary-color);
    height: 25px; 
    margin: 10px 0;
    border-radius: 15px; 
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
}

.progress-bar {
    background-color: var(--primary-color);
    height: 100%;
    width: 0%;
    border-radius: 15px; 
    box-shadow: 0 0 10px var(--primary-color);
    transition: width 1s ease-in-out; 
    background-color: var(--primary-color);
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.15) 25%,
      var(--primary-color) 25%,
      var(--primary-color) 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      var(--primary-color) 75%
    );
    background-size: 40px 40px; 
    animation: moveStripes 1s linear infinite;
}

@keyframes moveStripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0; 
    }
}



@keyframes loadProgress {
    from { width: 0; }
    to { width: 100%; }
}

.progress-bar.animate {
    animation: loadProgress 2s ease-out forwards;
}

.experience {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    color: rgb(233, 233, 233);
    letter-spacing: 1px; 
}

.menu {
    display: none;
    position: relative;
    background-color: var(--menu-background-color); 
    padding: 40px;
    border-radius: 12px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    width: 1200px;
    max-width: 95%; 
    margin: 2rem auto; 
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.menu.visible {
    display: block;
    opacity: 1;
    transform: translateY(0); 
}

.close-btn {
    position: absolute;
    top: 70px;
    left: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9rem;
    z-index: 1;
    outline: none;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s; 
}

.close-btn:hover {
    transform: translateY(-3px); 
    background-color: var(--primary-color); 
    color: #fff;
}

.missions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button.mission {
    font-family: 'Roboto', sans-serif;
}

.mission {
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    border: none;
    padding: 200px 20px;
    max-height: 552px;
    height: 552px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.mission-label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
}

.mission-desc {
    color: var(--text-secondary-color);
    font-size: 1rem; 
    font-style: italic;
    text-align: center;
    position: absolute; 
    bottom: 20px; 
    left: 0;
    right: 0;
    margin: 0 auto; 
    background-color: rgba(91, 91, 91, 0.515); 
    padding: 5px; 
    border-radius: 5px; 
    z-index: 2; 
    width: 90%; 
    color: rgb(198, 198, 198);
    max-height: 100px; 
    overflow: hidden;
}


.mission[disabled] {
    background-color: var(--disabled-color);
    border: solid #ea0707 1px;
    cursor: not-allowed;
}


.mission > .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    filter: blur(0.1rem);
    background-position: center;
}

.mission > *:not(.image) {
    z-index: 1;
}

.mission[data-mission="public-job"] > .image {
    background: url("image/public-job.png");
    background-size: cover;
    background-position: center;
}

.mission[data-mission="house-fuse-box"] > .image {
    background: url("image/fuse-box-job.png");
    background-size: cover;
    background-position: center;
}

.mission[data-mission="house-accessories"] > .image {
    background: url("image/house_accessories.png");
    background-size: cover;
    background-position: center;
}

.mission:hover:not(.locked) > .image {
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    animation: rotateCard 500ms forwards;
}

.mission:hover:not(.locked) {
    max-height: 570px;
    height: 570px;
    width: 10rem;
    margin: 0px;
    border: solid white 2.5px;
    box-shadow: 0px 0px 18px white;
}

.mission:hover > .mission:not(:hover) {
    filter: brightness(0.50);
}

.mission:hover:not(.locked) > .mission-desc {
    font-size: 1rem;
    color: white;
    transition: all 300ms;
    
}

@keyframes rotateCard {
    0% {
        transform: scale(1);
        filter: blur(0.1rem);
    }
    100% {
        transform: scale(1.02);
        filter: blur(0rem) brightness(0.9); 
    }
}

.locked .mission-label::before {
    content: "🔒"; 
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
}

.mission.locked {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}
    
.tier-buttons {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.tier1-image {
    background: url("image/tier1.png");
    background-size: cover;
    background-position: center;
}

.tier2-image {
    background: url("image/tier2.png");
    background-size: cover;
    background-position: center;
}

.tier3-image {
    background: url("image/tier3.png");
    background-size: cover;
    background-position: center;
}

.back-btn {
    position: absolute;
    top: 70px;
    right: 50px; 
    left: auto; 
}

@media (max-width: 768px) {
    .missions {
        flex-direction: column;
    }
}
